

.result{
    font-weight: bold;
    color: blue;
    text-align: left;
    border: 10px;
    padding-top: 20px;
}

.prgbar{
    text-align: right;
}

.panel{
     margin: auto;
    width: 60%;
}