.centered {
    width: 400px;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    top: 40%;
    left: 50%;
  }

  .cardhdr{
    background-color: rgb(39, 95, 179); 
    color: white; height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.errMsg{
  color: red;
  font-size: 10px;
  margin-bottom: 10px;
}