.centered {
    width: 400px;
    height: 210px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(250, 249, 249);
    border-radius: 3px;
  }

  .cardhdr{
    background-color: rgb(39, 95, 179); 
    color: white; height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.errMsg{
  color: red;
  font-size: 10px;
  margin-bottom: 10px;
}